*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

.logoBar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background-color: #d3d3d3;
}

.logoBar img{
    height: 60%;
    width: 90px;
    padding: 5px;
    min-width: 90px;
    min-height: 45%;
    max-width: 95px;
    max-height: 45%;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

section p{
    text-align: justify;
    font-size: 1.3em;
}

section h1{
    text-align: center;
    margin-top: 1em;
    color: #694B34;
}

section h2{
    text-align: left;
    color: #004346;
    margin-top: 1em;
}

section ul{
    list-style: none;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

section span{
    font-weight: bold;
}

table{
    border-collapse: collapse;
    margin: 0.5em 0 1em 0.5em;
}

th{
    background-color: #004346;
    color: white;
    padding: 0.4em 1.5em 0.4em 1.5em;
    border-right: 0.15em solid #694B34;
}

td{
    padding: 0.7em 1.5em 0.7em 0.5em;
    background-color: #d3d3d3;
    border-right: 0.15em solid #694B34;
}

#blnk1{
    border: none;
    background-color: white;
}

#blnk2{
    background-color: white;
}

#brd{
    border: none;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #694B34;
    padding: 3em;
    width: 100%;
    min-height: 15em;
    color: white;
    text-align: justify;
    font-size: 1em;
}

footer img{
    height: 2em;
    width: 7em;
    margin-bottom: 2em;
}

.divContact p{
    padding-bottom: 0.5em;
    width: 41em;
}
.divInfo{
    margin-top: 2em;
    width: 41em;
}


.divContact span{
    font-weight: bold;
}
footer a{
    color: white;

}