*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.5em;
    background-color: #694B34;
}

header img{
    margin: 0.5em;
    height: 60%;
    width: 8em;
}

main{
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

section p{
    text-align: justify;
    font-size: 1.3em;
}

section h1{
    text-align: center;
    margin-top: 1em;
    color: #694B34;
}

section h2{
    text-align: left;
    color: #004346;
    margin-top: 1em;
}

section ul{
    list-style: none;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

section span{
    font-weight: bold;
}

table{
    border-collapse: collapse;
    margin: 0.5em 0 1em 0.5em;
}

th{
    background-color: #004346;
    color: white;
    padding: 0.4em 1.5em 0.4em 1.5em;
    border-right: 0.15em solid #694B34;
}

td{
    padding: 0.3em 1.5em 0.3em 0.5em;
    background-color: #d3d3d3;
    border-right: 0.15em solid #694B34;
}

#blnk1{
    border: none;
    background-color: white;
}

#blnk2{
    background-color: white;
}

#brd{
    border: none;
}